<h1>About Us</h1>
<p>
  <a href="http://www.facebook.com/Gabriellaire">Gabriel Lim's App</a>
  is a project to reverse engineer and add on to Twitter, as well as learn
  <a href="http://rubyonrails.org/">Ruby on Rails</a>. This
  is the sample application for the process of learning Ruby on Rails, and will be updated weekly.
</p>